.bgc {
    background-color: #efefef;
}

.main {
    margin: 40px;
    background-color: #fff;
    border-radius: 5px;
}

.padding-mini {
    padding: 10px;
}

.padding-middle {
    padding: 20px;
}

.padding-big {
    padding: 30px;
}

.img-small {
    width: 40px;
    height: 40px;
}

.text-title {
    color: #155faa;
    cursor: pointer;
}

.text-title:hover {
    color: #499ef3;
}
.text-color {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.text-time {
    display: inline-block;
    width: 100px;
}
.text-creator {
    font-weight: bold;
}