<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment :: head (发布)"></head>
<body class="bgc">
<nav class="navbar navbar-default" th:replace="fragment :: nav"></nav>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xm-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发起</h2>
            <hr>
            <form action="/publish" method="post" class="padding-mini">
                <div class="form-group">
                    <label for="title">问题标题(简单扼要):</label>
                    <input type="text" class="form-control" th:value="${title}" id="title" name="title" placeholder="问题标题...">
                </div>
                <div class="form-group">
                    <label for="description">问题补充(必填，请参照右侧提示):</label>
                    <textarea class="form-control" id="description" th:text="${description}" name="description" cols="3" rows="11"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签:</label>
                    <input type="text" class="form-control" id="tag" th:value="${tag}" name="tag" placeholder="输入标签以,分隔">
                </div>
                <div class="container-fluid main">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
                        <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12" th:text="${error}"
                             th:if="${error != null}">

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <button class="btn btn-success" type="submit">发布</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xm-12">
            一分快三大神带回血+蔻11702076老师叩：117~020~76使用默认的随机源随机排列指定的列表。(打乱list中的数据)sort(List
             list) 进行排序一个人，身边有多少人，就有
        </div>
    </div>
</div>


</body>
</html>